@import url('https://fonts.googleapis.com/css?family=Comfortaa|Julius+Sans+One');
:root { /* Global variables */
    --sans-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --invalid-red: rgb(255, 155, 155);
}

html, body, main, #stageDrawing {
    margin: 0;
    height: 100%;
}
main {
    background-color: hsl(0, 0%, 100%);
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 10px 0;
    grid-template: var(--grid-template);
    --grid-template: 
        [row1-start] ". . . . . . . . ." 10px [row1-end]
        [row2-start] ". header header formationTitle formationTitle formationTitle . . ." 2.5em [row2-end]
        [row3-start] ". groups . canvas canvas canvas . dancerControls ." 120px [row3-end]
        [row4-start] ". groups . canvas canvas canvas . formationComments ." auto [row4-end]
        [row5-start] ". groups . canvas canvas canvas . formationComments ." 100px [row5-end]
        [row6-start] ". stageLegend . timeline timeline timeline . timelineControls ." calc(var(--slide-height) + var(--extra)) [row6-end]
        [row7-start] ". music music music music music music music music" 5px [row7-end]
        / 20px 5fr 20px 8fr 8fr 8fr 20px 5fr 20px;
}

#stageDrawing {
    grid-area: 1 / 1 / 8 / 10;
    z-index: 999;
}
#stageView {
    grid-area: canvas;
    justify-self: stretch;
    align-self: stretch;
    z-index: 1001;
}

.n1 {
    grid-area: header;
    color: #1672ce;
    font-size: calc((11vw) / 7);
    font-family: 'Comfortaa', cursive;
    font-style: italic;
    text-align: center;
    word-wrap: break-word;
}
.n2 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}
.n3 {
    font-family: sans-serif;
}

#groups {
    font: 1.2em var(--sans-font);
    grid-area: groups;
    text-align: center;
}

#groupsList {
    --c: rgb(247, 247, 247);

    border: solid 1px black;
    text-align: center;
    height: 90%;
    font-size: small;
    background-color: var(--c);
}
#formationTitle {
    grid-area: formationTitle;
    text-align: center;
    justify-self: center;
    min-width: 130px;
    font-size: 2.2em;
    width: 150px;
    border-radius: 1px;
}
#formationTitle.invalid {
    background-color: var(--invalid-red);
}

#dancerControls { grid-area: dancerControls; }

button {
    border-radius: 10px;
}
.roundedBoxIconButton {
    --c: rgb(247, 247, 247);
    flex-grow: 1;
    display: flex;
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: var(--c);
    border: outset 1px;
    font: 100% var(--sans-font);
    padding: 0;
    text-shadow: 1px 1px 1px var(--c), -1px 1px 1px var(--c),
                 1px -1px 1px var(--c), -1px -1px 1px var(--c),
                 2px 2px 1px var(--c), -2px 2px 1px var(--c),
                 2px -2px 1px var(--c), -2px -2px 1px var(--c),
                 3px 3px 1px var(--c), -3px 3px 1px var(--c),
                 3px -3px 1px var(--c), -3px -3px 1px var(--c);
    text-align: center;
    justify-content: center;
    align-content: center;
}
.roundedBoxIconButton:disabled { filter: grayscale(100%) }
.roundedBoxIconButton:hover:enabled { filter: brightness(102%); }
.roundedBoxIconButton:active:enabled {
    border: inset 1px;
    filter: brightness(98%);
}

textarea {
    /* border-radius: 10px; */
    border-color: gray;
    background: whitesmoke;
}

#stageLegend { 
    grid-area: stageLegend;
    font: 1em var(--sans-font);
}
#formationComments {
    grid-area: formationComments;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
#formationComments > p {
    text-align: center;
    font: 1.2em var(--sans-font);
    margin: 0;
}
#formationCommentsBox {
    flex: 1 1 auto;
    resize: none;
    width: calc(100% - 6px);
    font: 1em var(--sans-font);
}
#music {
    grid-area: music;
    background: dimgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#music > p {
    font: 1.2em var(--sans-font);
    color: whitesmoke;
}
#musicUploadButton {
    margin-left: 10px;
    font: 1.2em var(--sans-font);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 4px;
    background-color: ghostwhite;
}

#addGroup{
    --c: rgb(247, 247, 247);
    font-family: Consolas;
    border: none;
    color: green;
    font-size: 4em;
    background-color: transparent;
}
#addGroup:active, .deleteGroup:active {
    border: inset 1px;
}

.deleteGroup{
    --c: rgb(247, 247, 247);
    font-family: Consolas;
    border: none;
    background-color: orange;
    color: red;
    font-size: 1em;
    font-weight: bold
}
.deleteGroup:hover {
    background-color: red;
}

.groupIcon {
    border: 1px solid gray;
    font-size: 1.2em;
    border-radius: 0px;
    width:auto;
    padding: 10px;
}

.groupIcon:hover {
    background: deepskyblue;
}

#timeline { grid-area: timeline; }
#timelineControls { grid-area: timelineControls };