@import url('https://fonts.googleapis.com/css?family=Comfortaa|Julius+Sans+One');
:root { /* Global variables */
	--background-main: hsl(0, 0%, 100%);
    --color-blue: hsl(210, 80%, 45%);
    --sans-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, main {
    margin: 0;
    height: 100%;
}
main {
    background-color: var(--background-main);
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 10px 0px;
    grid-template:
        [row1-start] ". . . . . . . ." 10px [row1-end]
        [row2-start] "header header formationTitle formationTitle formationTitle . . ." 2.5em [row2-end]
        [row3-start] "groups . canvas canvas canvas . dancerControls ." 100px [row3-end]
        [row4-start] "groups . canvas canvas canvas . formationComments ." auto [row4-end]
        [row5-start] "stageLegend . canvas canvas canvas . formationComments ." 100px [row5-end]
        [row6-start] "timeline timeline timeline timeline timeline . timelineControls ." calc(var(--slide-height) + var(--extra)) [row6-end]
        [row7-start] "music music music music music music music music" 50px [row7-end]
        / 5fr 20px 8fr 8fr 8fr 20px 5fr 20px;
}



#stageDrawing {
    /* TODO: Remove display line if we want to start off with stage drawing*/
    grid-area: 1 / 1 / 8 / 9;
    background: rgb(220, 220, 220);
    z-index: 100;
}

.n1 {
    grid-area: header;
    color: var(--color-blue);
    font-size: calc((11vw) / 7);
    font-family: 'Comfortaa', cursive;
    font-style: italic;
    text-align: center;
    word-wrap: break-word;
}
.n2 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}
.n3 {
    font-family: sans-serif;
}

#groups {
    grid-area: groups;
    border: dashed 1px black;
    border-radius: 10px;
    text-align: center;
}
#stageTitle {
    grid-area: stageTitle;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}
#titleField {
    width: 90%;
    height: 90%;
    border: solid 1px gray;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    color: gray;
}
#commentField {
    width: 90%;
    height: 90%;
    border: solid 1px gray;
    border-radius: 10px;
    text-align: center;
    font-size: small;
    color: gray;
}
#formationTitle {
    grid-area: formationTitle;
    text-align: center;
    justify-self: center;
    min-width: 130px;
    font-size: 2.2em;
    width: 150px;
    border-radius: 10px;
}
#stageView {
    grid-area: canvas;
    justify-self: stretch;
    align-self: stretch;
}
#stageViewControls {
    grid-area: canvas;
    justify-self: end;
    align-self: start;
}
#dancerControls { grid-area: dancerControls; }

button {
    border-radius: 10px;
}

textarea {
    border-radius: 10px;
    border-color: gray;
    background: whitesmoke;
}

#stageLegend { grid-area: stageLegend; }
#formationComments {
    grid-area: formationComments;
    margin-top: 10px;
    /* border: dashed 1px black; */
    display: flex;
    flex-direction: column;
}
#formationComments > p {
    text-align: center;
    font: 1.2em var(--sans-font);
    margin: 0;
}
#formationCommentsBox {
    /* grid-area: formationCommentsBox; */
    flex: 1 1 auto;
    resize: none;
    width: calc(100% - 6px);
    font: 1em var(--sans-font);
}
#music {
    grid-area: music;
    background: dimgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#music > p {
    font: 1.2em var(--sans-font);
    color: whitesmoke;
}
#musicUploadButton {
    margin-left: 10px;
    font: 1.2em var(--sans-font);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 4px;
    background-color: ghostwhite;
}

#timeline { grid-area: timeline; }
#timelineControls { grid-area: timelineControls };