#stageView {
    background-color: white;
    border: solid 2px black;
    margin: -2px -1px -1px -1px;
    border-radius: 10px;
}
#stageViewControls {
    border: none;
    display: flex;
    justify-content: space-between;
    margin: 7px -4px 0 0;
    z-index: 1;
}
#zoomIn {
    width: 40px;
    height: 40px;
}
#zoomIn:focus {outline:0;}
#zoomOut {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 10px;
}
#zoomOut:focus {outline:0;}
#resetView {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#resetView:focus {outline:0;}


#dancerControls {
    display: flex;
    flex-direction: column;
}

#addDancer, #removeDancer {
    flex-grow: 1;
    display: flex;
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: rgb(247, 247, 247);
    border: outset;
    /* border-radius: 10px; */
}
#addDancer:active, #removeDancer:active {
    border: inset;

}
#addDancer {
    margin-bottom: 10px;
    background-image: url("graphics/AddIcon.png");
}
#removeDancer {
    background-image: url("graphics/RemoveIcon.png");
}
#removeDancer:disabled {
    background-image: url("graphics/RemoveIconDisabled.png");
}
#addDancer > div , #removeDancer > div { flex: 0 1 40px; }


#stageLegend {
    overflow: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
}
#stageLegend > li {
    margin: 0;
    text-align: start;
}