#stageDrawing {
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 10px 0px;
    grid-template: var(--grid-template);
    background: rgb(220, 220, 220);
}

#confirmStage {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
	padding: 5px 10px;
	border: none;
    border-radius: 6px;
    background: var(--color-green);
    background-color: forestgreen;
    font-size: large;
    grid-area: formationComments;
    justify-self: stretch;
    align-self: flex-end;
    height: 200px;
}

#drawingInstruction {
    background-color: white;
    color: gray;
    font: 2em var(--sans-font);
    grid-area: formationTitle;
    text-align: center;
    align-self: center;
}

#drawingCanvas {
    grid-area: canvas;
    justify-self: stretch;
    align-self: stretch;
    cursor: crosshair;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

#drawingCanvas.select {
    cursor: default !important;
}
  


#drawingCanvas:hover {
    border: 1px solid #aaa;
}