#stageDrawing {
    background: rgb(220, 220, 220);
}

#confirmStage {
    grid-area: formationComments;
    justify-self: stretch;
    align-self: flex-end;
    height: 100px;
    background-image: url("graphics/DoneIcon.png");
    align-content: flex-end;
    z-index: 1000;
}
#confirmStage > div { flex: 1 2 50px; }
#confirmStage > p { flex: 1 1 50%; }
#confirmStage:active { color: hsl(106, 95%, 43%); }
#confirmStage:disabled { background-image: url("graphics/DoneIconDisabled.png"); }

#drawingInstruction {
    background-color: white;
    color: black;
    font: 2em var(--sans-font);
    grid-area: formationTitle;
    text-align: center;
    align-self: center;
    z-index: 1000;
}

#stageView.drawing {
    cursor: crosshair;
}

#stageView.select {
    cursor: default !important;
}