#stageView {
    background-color: white;
    border: 1px solid rgb(48, 48, 48);
    margin: -2px -1px -1px -1px;
    border-radius: 10px;
}
#stageView:hover {
    border: 1px solid rgb(192, 192, 192);
}
#stageViewControls {
    grid-area: canvas;
    justify-self: stretch;
    align-self: start;
    display: flex;
    margin: 7px -4px 0 0;
    z-index: 1002;
    /* background-color: rgb(205, 255, 240); */
    pointer-events: visible;
    visibility: hidden;
}

#editStage, #zoomIn, #zoomOut, #resetView {
    width: 40px;
    height: 40px;
    visibility: visible;
}
#editStage {
    display: none;
    margin-left: 8px;
    cursor: alias;
}
#zoomIn { cursor: zoom-in; }
#zoomOut {
    margin: 0 10px 0 10px;
    cursor: zoom-out;
}
#resetView { margin-right: 10px; }
#editStage:focus, #zoomIn:focus, #zoomOut:focus, #resetView:focus { outline:0; }
#stageViewControlsSpacer { flex-grow: 1; }


#dancerControls {
    display: flex;
    flex-direction: column;
}

#addDancer {
    margin-bottom: 10px;
    background-image: url("graphics/AddIcon.png");
}
#addDancer:active { color: hsl(120, 100%, 33%); }
#removeDancer { background-image: url("graphics/RemoveIcon.png"); }
#removeDancer:disabled { background-image: url("graphics/RemoveIconDisabled.png"); }
#removeDancer:active { color: hsl(0, 100%, 32%); }
#addDancer > div , #removeDancer > div { flex: 1 2 0; }
#addDancer > p , #removeDancer > p { flex: 1 1 60%; }