:root {
    --slide-t: .7s;
    --slide-width: 200px;
    --slide-smaller: .90;
    --slide-height: 128px;
    --slide-spacing: 12px;
    --extra: 2em + 24px;
    --down: 4px;
}
#timeline {
    --timeline-color: rgb(238, 238, 238);
    justify-content: flex-start;
    position: relative;
    display: flex;
    overflow-x: scroll;
    margin-bottom: -5px;
    outline: solid 1px black;
    background-color: var(--timeline-color);
}
#timeline:focus { outline:2px solid rgba(0, 38, 255, 0.542); }

#timeline::-webkit-scrollbar {
	height: 15px;
	background-color: #F5F5F5;
}
#timeline::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-color: #666; /*The Devil's Color*/
}

#timeline::-webkit-scrollbar-track { background-color: var(--timeline-color); }

#timelineControls {
    display: flex;
    flex-direction: column;
}


#insertFormation > div , #deleteFormation > div { flex: 1 2 30px; }
#insertFormation > p , #deleteFormation > p { flex: 1 1 50%; }
#insertFormation {
    background-image: url("graphics/InsertFormationIcon.png");
    margin-bottom: 10px;
}
#insertFormation:active { color: hsl(106, 95%, 43%); }
#deleteFormation { background-image: url("graphics/RemoveFormationIcon.png"); }
#deleteFormation:disabled {
    background-image: url("graphics/RemoveFormationIconDisabled.png");
    color: rgb(221, 221, 221);
    text-shadow: 0 0 2px black;
}
#deleteFormation:active { color: hsl(0, 100%, 32%); }

#addFormation {
    order: 999999;
    flex: 0 0 140px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-left: calc(-1 * var(--slide-spacing));
}
#addFormation > img {
    height: 80px;
    width: 80px;
    padding: 5px
}
#addFormation:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
#addFormation:hover > img {
    outline: inset 3px rgba(194, 194, 194, 0.2);

}
#addFormation:active > img {
    outline: inset 3px rgb(194, 194, 194);
}

.formationSlide {
    height: calc(var(--slide-height) * var(--slide-smaller) + 2em);
    width: calc(var(--slide-width) * var(--slide-smaller));
    align-content: flex-end;
    justify-content: center;
    display: grid;
    grid-template: auto auto / auto;
    transition: transform var(--slide-t), width var(--slide-t), height var(--slide-t);
    align-self: flex-end;
    margin-bottom: var(--down);
    padding-left: var(--slide-spacing);
}
.formationSlide > p {
    grid-area: 1 1 2 2;
    text-align: center;
    margin: 0;
    font: 25px var(--sans-font);
    transition: all var(--slide-t);
    padding-bottom: 8px;
}
.formationSlide > canvas {
    grid-area: 2 1 3 2;
    border: solid 1px black;
    border-radius: 10px;
    height: calc(var(--slide-height) * var(--slide-smaller));
    width: calc(var(--slide-width) * var(--slide-smaller));
    box-shadow: 0;
    transition: all var(--slide-t);
    z-index: 1;
}
.formationSlide.selected {
    z-index: 10;
    height: calc(var(--slide-height) + 2em);
    width: calc(var(--slide-width));
}
.formationSlide.selected > canvas {
    box-shadow: 0px 0px 20px rgba(0, 89, 255, 0.7);
    height: var(--slide-height);
    width: var(--slide-width);
}
.formationSlide.last {
    padding-right: 16px;
}
.formationSlide.new {
    transform: translate(-200px, 0) scale(.5);
    width: 1px;
}
.formationSlide.new > p, .formationSlide.removing > p {
    font-size: 0.1em;
}
.formationSlide.removing {
    transform: scale(0);
    width: 1px;
    padding: 0;
}
.formationSlide.removing > canvas {
    height: 0px;
    width: 0px;
}

.formationSlide.dragging{
    transform: translate(var(--deltaX), 0);
    transition: transform 0s;
}
.formationSlide.draggingEnd{
    transition: all var(--slide-t);
    animation-name: dragEnd;
    animation-duration: var(--slide-t);
    animation-iteration-count: 1;
}
@keyframes dragEnd {
    to {
        transform: translate(0, 0);
    }
}

#timelinePaddingLeft {
    order: -1;
    flex-grow: 1.5;
    /* background-color: beige; */
}
#timelinePaddingRight {
    order: 1000000;
    flex-grow: 1;
    /* background-color: beige; */
}